impt-commands.txt
/dump
terraform/*.tfvars
terraform/*.auto.tfvars
terraform/terraform.tfstate*
terraform/*.tfstate.*
terraform/*.tfstate
terraform/tf-test-clone_id_ed25519
terraform/tf-test-clone_id_ed25519.pub
../a.txrt